.overflow{
	overflow: hidden;
}

.slippy-pane{
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;
	background-color: rgba(0, 0, 0, .1);
}

	.slippy-pane > aside{
		position: absolute;
		top: inherit;
		right: inherit;
		bottom: inherit;
		left: inherit;
		background-color: #fff;
		transition:	transform 400ms ease;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.slippy-pane > aside.slippy-l{
		-webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, .15);
		box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, .15);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.slippy-pane > aside.slippy-r{
		left: 100%;
		-webkit-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, .15);
		box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, .15);
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}

	.slippy-pane > aside{
		width: 240px;
	}

.slippy-pane.slippy-anim,
.slippy-pane.slippy-open{
	visibility: visible;
}

	.slippy-pane.slippy-open > aside.slippy-o.slippy-l{
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}

	.slippy-pane.slippy-open > aside.slippy-o.slippy-r{
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}